.grid {

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo';
}

h1, h2 {
    text-align: center;
}

main {

}

* {
    font-family: 'Muli';
}

footer {

}

@media (min-width: 480px){

}

@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}
