* {
    font-family: 'Muli';
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo';
}

h1, h2 {
    text-align: center;
}




footer {
  padding: 0 10vw;
}

@media (min-width: 480px){

}

@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}
