.gridItem {
    display: inline-grid;
}

.flexContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.mainImage {
    width: 300px;
    height: 300px;
}

a {
    text-decoration: none;
    color: black;
}